img {
    border: 2px solid black;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

figure {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    border: 2px solid black;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: Lato;
}

li {
    display: inline;
}

nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}